@model User


@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('All Users') });</script>
}

@section CSS{

}

@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>All Users</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">All Users</h5>
                    <div class="table-responsive">
                        <table class="table data-table table-hover" data-source="/wallet/admin/users/list/" data-key="3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.EmailVerifiedOn)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastUpdatedOn)
                                    </th>
                                    <th class="no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
