@model SocialActivity

@{
    ViewBag.Title = "Manage Social Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Manage Social Activities') });</script>
}

@{
    string _daterange = Request.QueryString["daterange"];
    {
        if (_daterange == null)
        {
            _daterange = (!string.IsNullOrEmpty(Request.QueryString["start"]) ? Request.QueryString["start"] + " - " : "") + (!string.IsNullOrEmpty(Request.QueryString["end"]) ? Request.QueryString["end"] : "");
        }
    }
}

@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>Manage Social Activities</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Manage Social Activities</h5>
                    <div class="heading-elements">
                        <a href="/wallet/rewardingbody/socialactivities/create"><i class="fa fa-plus-square"></i><span>Create Social Activity</span></a>
                    </div>
                    <div class="table-responsive">
                        <table class="table data-table table-hover" data-source="/wallet/rewardingbody/socialactivities/list?daterange=@Request.QueryString["daterange"]" data-key="6">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                  
                                    <th>
                                        @Html.DisplayNameFor(model => model.RewardAmount)
                                    </th>
                                  
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Processed By
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastUpdatedOn)
                                    </th>
                                    <th class="no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
