@model  List<Seratio.Platform.ICO.Models.ExchangeRate>  
  
@{
    ViewBag.Title = "Update Fiat Exchange Rate";
    Layout = "~/Areas/L0C5A3E8915871B710C2CC98073748424/Views/Shared/_Layout.cshtml";

}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Update Exchange Fiats') });</script>
    <script src="~/Areas/L0C5A3E8915871B710C2CC98073748424/Assets/plugins/bootstrap-toggle/bootstrap-toggle.min.js"></script>

}
@section CSS{
    <link href="~/Areas/L0C5A3E8915871B710C2CC98073748424/Assets/plugins/bootstrap-toggle/bootstrap-toggle.min.css" rel="stylesheet" />
}



<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Manage Settings</span></h4>
        </div>
        @*<div class="heading-elements">
            <div class="heading-btn-group">
                <a class="btn btn-link btn-float has-text" href="/settings/create"><i class="icon-googleplus5 text-primary"></i><span>Create Setting</span></a>
            </div>
        </div>*@
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="/L0C5A3E8915871B710C2CC98073748424/default/dashboard"><i class="icon-home4 position-left"></i>Dashboard</a></li>
            <li class="active">Settings</li>
        </ul>
    </div>
</div>
<div class="content">
    <form method="post" class="form-horizontal" action="" enctype="multipart/form-data" autocomplete="off">
        <div class="panel panel-flat">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.AntiForgeryToken()
                        
                        @{
                            List<string> _coins = ViewBag.Coins;
                            int i = 0;

                            if (_coins.Any() && _coins.Count >= 0)
                            {
                                foreach (string _item in _coins)
                                {

                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">@_item:</label>
                                        <input type="hidden" name="Model[@i].From" id="Model[@i].From" value="@_item">

                                        <div class="col-lg-7">
                                            <input name="Model[@i].ExchangePrice" id="Model[@i].ExchangePrice" type="text" placeholder="Please enter exchange rate in GBP" class="form-control" data-val="true" data-val-required="Please enter exchange rate in GBP" required="required">
                                            <span class="field-validation-valid text-danger" data-valmsg-for="Model[@i].ExchangePrice" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                 
                                    i++;
                                }
                            }
                        }
                        
                      

                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <a href="/L0C5A3E8915871B710C2CC98073748424/settings/update" class="btn btn-default">Reset<i class="icon-reload-alt position-right"></i> </a>
                    <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>
