@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <style>
        .btn {
            background-color: #2196f3;
            border-color: #2196f3;
            color: #fff;
            -moz-user-select: none;
            border: 1px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            display: inline-block;
            font-size: 13px;
            font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
            font-weight: bold;
            line-height: 1.53846;
            margin-bottom: 0;
            padding: 7px 12px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            vertical-align: middle;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div style="text-align: center; margin: 10px 0;">
        <img src="~/Assets/images/error.png" />
    </div>
    <div style="text-align: center; margin: 10px 0;">
        <a href="javascript:window.history.back();" class="btn">Back</a>
    </div>
</body>
</html>
