@model Seratio.Blockchain.Sandbox.Models.AcceptedRetailPolicy

@{
    ViewBag.Title = "Accept Voucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Accept Voucher') });</script>
    <script src="/wallet/scripts/html5-qrcode.min.js" type="text/javascript"></script>
}

@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>Retail End</span></li>
        <li class="breadcrumb-item"><span>Accept Voucher</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <form class="form-horizontal" action="" enctype="multipart/form-data" method="post" autocomplete="off">
                        <h5 class="element-header">Accept Voucher</h5>

                        <div class="heading-elements">

                        </div>
                        <div class="form-group">

                            <div class="row" style="margin-top: 20px;">

                                <label class="col-lg-3 control-label">Customer</label>
                                <div class="col-lg-8">
                                    <input type="text" id="customer" name="customer" class="form-control" data-val="true" data-val-required="Please enter Customer's Wallet Address or Email Address" placeholder="Wallet Address or Email Address" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="customer" data-valmsg-replace="true"></span>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px;">
                                <label class="col-lg-3 control-label">Voucher Code</label>
                                <div class="col-lg-8">
                                    <input type="text" id="VoucherCode" class="form-control" name="VoucherCode" placeholder="Voucher Code" data-val="true" data-val-required="Please enter the Voucher Code" />
                                    <span class="field-validation-valid text-danger" data-valmsg-for="VoucherCode" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-buttons-w text-right">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
