# configure your infura api key (not technically required)
INFURA_API_KEY=XxXxXxXxXxXxXxXxXxXx

# change the mnemonic that your hd wallet is seeded with
MNEMONIC="around glory lonely develop glide arm useful shuffle frog slender girl laundry"

# Mnemonic phrase password
PASSWORD=""

ACCOUNT_PASSWORD="passwordExample"

MAINNET_ENDPOINT="http://www.endpoint.example.com/"
