@model ModuleAccessRequest
@{
    ViewBag.Title = "Access Requests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
<script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('Access Requests') });</script>
}
@section Breadcrumbs{
    <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>Access Requests</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">Access Requests</h5>
                    <div class="table-responsive">
                        <table class="table data-table table-hover" data-source="/wallet/admin/accessrequests/list/" data-key="5">
                            <thead>
                                <tr>
                                    <th>
                                        User
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Module)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Message)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Processed By
                                    </th>
                                    <th class="no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
