@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loading</title>
    <link href="/assets/icon_fonts_assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <style type="text/css">
        body, body:before {
            background: #fff !important;
            margin: 0;
            padding: 0;
        }

        .main {
            width: 100%;
            margin: 200px 0;
            text-align: center;
        }

            .main span {
                color: #0168ab;
                display: block;
                font-size: 21px;
                font-weight: 600;
                margin-bottom: 20px;
            }
    </style>
</head>
<body>
    <div class="main">
        <img src="~/Assets/images/logo1.png" /><br />
        <span>Seratio Platform</span>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <h3>Please be patient while your transaction is being processed.</h3>
        <p>Do not "close the window" or press "refresh" or "browser back/forward button".</p>
    </div>
</body>
</html>
