@model Coin
@{
    ViewBag.Title = "MCR Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JavaScript{
    <script type="text/javascript">$(document).ready(function () { WebApp.Core.HighlightCurrentMenuItem('MCR Categories') });</script>
}
@section Breadcrumbs{
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wallet/default/dashboard">Dashboard</a></li>
        <li class="breadcrumb-item"><span>MCR Categories</span></li>
    </ul>
}

<div class="content-box">
    <div class="row">
        <div class="col-lg-12">
            <div class="element-wrapper">
                <div class="element-box">
                    <h5 class="element-header">MCR Categories</h5>
                    <div class="heading-elements">
                        <a href="/wallet/admin/mcrcategories/create"><i class="fa fa-plus-square"></i><span>Create MCR Category</span></a>
                    </div>
                    <div class="table-responsive">
                        <table class="table data-table table-hover" data-source="/wallet/admin/mcrcategories/list/" data-key="3">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Symbol)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.LastUpdatedOn)
                                    </th>

                                    <th class="no-sort">Options</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
